__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
.venv
.dist-info/
build/
dist/
*.adpkg
.DS_Store

.gocache/
.ruff_cache/
.coverage

sdk/python/coverage.xml
sdk/typescript/coverage/
sdk/typescript/node_modules/
sdk/typescript/ts-oci*
sdk/rust/coverage.lcov
sdk/rust/target/
sdk/go/coverage.out